# ===========================================================================
# PYTHON / PIP PACKAGE REQUIREMENTS: more
# ===========================================================================
# USAGE: pip install -U -r <THIS_FILE>
#
#   Simplifies setup of local workspace / virtual-environment (virtualenv)
# ===========================================================================

# ---------------------------------------------------------------------------
# MORE DEVELOPMENT and TESTING SUPPORT
# ---------------------------------------------------------------------------
# -- NOTE: pydocstyle usage had problems.
pydocstyle
tox
pylint

# ---------------------------------------------------------------------------
# MORE DEVELOPMENT: Explorative Testing, etc.
# ---------------------------------------------------------------------------
virtualenv
ipython
